body{
    background: #f2f2f2;
    margin:0;
    padding:0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 300px;
    padding: 2rem;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

/* Bonus Dark Theme */
@media (prefers-color-scheme:dark) {
    body{
        background: #121212;
        color: #fff;
    }

    .card{
        background: #1e1e1e;
        box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    }

    .card:hover{
        box-shadow: 0 12px 25px rgba(255, 255, 255, 0.1);
    }
}